<div class="container">
    <form *ngIf="(accountService.currentUser$ | async) === null" #loginForm="ngForm" class="d-flex" (ngSubmit)="login()"
        autocomplete="off">
        <input name="name" [(ngModel)]="model.name" class="form-control me-2" type="text" placeholder="Username">
        <input name="password" [(ngModel)]="model.password" class="form-control me-2" type="password"
            placeholder="Password">
        <button class="btn btn-outline-success" type="submit">LogIn</button>
    </form>
</div>